.con{
    max-width: 600px;
    margin: 100px auto;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.actions{
    display: flex;
    margin: 10px 0;
    
}

.results{
    display: flex;
    
}

.res{
    padding: 0 10px;
}